# Copy this file and rename it ".env" (without ").
# Then add credentials as needed (without <>).

# Watson Discovery
WATSON_API_KEY=<YourApiKeyHere>
WATSON_URL=<YourUrlHere>
WATSON_ENVIRONMENT_ID=<YourEnvironmentIdHere>
WATSON_CONFIGURATION_ID=<YourConfigurationIdHere>
WATSON_COLLECTION_ID=<YourCollectionIdHere>