[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "*"
beautifulsoup4 = "*"
certifi = "*"
cfgv = "*"
chardet = "*"
click = "*"
colorama = "*"
cssselect = "*"
distlib = "*"
feedfinder2 = "*"
feedparser = "*"
filelock = "*"
googletrans = "*"
identify = "*"
idna = "*"
jieba3k = "*"
lxml = "*"
newspaper3k = "*"
nltk = "*"
nodeenv = "*"
pluggy = "*"
pre-commit = "*"
py = "*"
py-translate = "*"
pyparsing = "*"
python-dateutil = "*"
requests = "*"
requests-file = "*"
selenium = "*"
six = "*"
soupsieve = "*"
tldextract = "*"
toml = "*"
tox = "*"
translate = "*"
urllib3 = "*"
virtualenv = "*"
Pillow = "*"
PyYAML = "*"
tinysegmenter = "==0.3"
googlenews = "*"
pymongo = "*"

[requires]
python_version = "3.8"
